:root{
    --brand-color-1 : #CB997E;
    --brand-color-2 : #FFE8D6;
    --brand-color-3 : #A5A58D;
    --brand-color-4 : #DDBEA9;
    --brand-color-5 : #B7B7A4;
    --brand-color-6 : #6B705C;
    --brand-color-grey: #495057;
    --brand-color-darkgrey: #343a40;
    --brand-color-dirtywhite:#e9ecef;
    --brand-color-darkwhite:#dee2e6;
    --brand-color-darkerwhite: #adb5bd;
    --brand-font-primary: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

