@import './branding.css';

footer{
    padding-top: 10px;
    bottom:0;
    position: fixed;
    width:100%;
    background-color: var(--brand-color-darkgrey);
    text-align: center;
    height:max-content;
    color: var(--brand-color-dirtywhite)
}

a{
    color: var(--brand-color-dirtywhite)
}

.social-icons .icon{
    margin-right:10px;
}

.copyright{
    margin-top: 10px;
}
