@import '../styles/branding.css';

.home-content{
    height:100%;
}
.our-brand{
    display: flex;
    justify-content: space-around;
}

.our-brand .background-gradient-overlay{
    background: linear-gradient(to right, rgba(41, 223, 255, 0.3),  rgba(252, 134, 232, 0.2));
    height:500px;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.our-brand h4 {
    color: var(--brand-color-grey);
    position: absolute;
    text-align: justify;
    font-size: xx-large;
    width:50%;
    z-index: 2;
}
.our-brand img{
    opacity: 0.6;
    height:500px;
    position: relative;
    width: 100%;
    z-index: 0;
}