@import '../styles/branding.css';

/* keyframes */
@keyframes slideIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateX(0);
    }
  }
/* Main css */
.home-content{
    z-index: 2;
    position:relative;
    height:max-content;
}
.our-brand{
    background: url('../assets/home-component-pic.png') fixed no-repeat;
    background-size: cover;
    margin-top: 80px;
    width:100%;
    height:700px;
    display: inline-flex;
}

.our-brand .tagline{
    text-overflow: ellipsis;
    overflow-y:hidden;
    overflow-x:hidden;
    max-height: 400px;
    height: max-content;
    background-color: rgba(255,232,214,0.8);
    box-shadow: 1px 2px 2px 1px;
    border-radius: 10px;
    /* backdrop-filter: blur(1px); */
    /* border: solid 2px;
    border-radius: 4px; */
    margin-top:15%;
    margin-left: 2%;
    color: var(--brand-color-grey);
    padding: 2%;
    position: relative;
    text-align: justify;
    font-size: x-large;
    width:50%;
    z-index: 2;
}

.tagline h2{
    display: inline;
    margin-bottom: auto;
    position: relative;
    max-height: 150px;
    text-wrap:pretty;
    color:var(--brand-color-6);
    animation: slideIn 0.5s ease-out;
}

.tagline h5{
    position: relative;
    max-height: 250px;
    color:var(--brand-color-6);
    margin-top: 2px;
    animation: slideIn 0.5s ease-out;
}

.tagline .emphasis{
    color: var(--brand-color-darkgrey)
}



/* SERVICES ============================ */
.our-services{
    z-index: 3;
    color: var(--brand-color-darkgrey);
}
.our-services .our-services-title{
    font-size:50px;
    text-align: center;
    margin-left:2%;
    margin-bottom:none;
}
.our-services ul{
    padding:10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.our-services li{
    cursor: pointer;
    background-color: #f8f9fa;
    list-style: none;
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
}

.our-services li:hover{
    background-color: var(--brand-color-2);
    box-shadow: 5px 6px 6px 2px;
    margin-top:-10px;
}

.service-info{
    color:var(--brand-color-darkgrey)
}

.service-info .service-info-icon{
    font-size: 50px;
}

.service-info .service-info-description{
    font-size: small;
    color: var(--brand-color-6)
}

/* WHY US ======================================== */

.why-us{
    z-index: 3;
    color: var(--brand-color-darkgrey);
    margin-top:5%;
}

.why-us .why-us-title{
    font-size:50px;
    text-align: center;
    margin-left:2%;
    margin-bottom:none;
}
.why-us-content{
    display: flex;
    justify-content: space-evenly;
}
.why-us-text{
    width:90%;
    font-size: 33px;
    margin:2%;
    text-align: center;
    padding:10px;
    /* margin: none;
    flex-direction: row; */
    display: flex;
}

/* CONTACT US=============== */

.contact-us{
    z-index: 3;
    color: var(--brand-color-darkgrey);
    margin-top:5%;
}

.contact-us .contact-us-title{
    font-size:50px;
    text-align: center;
    margin-left:2%;
    margin-bottom:none;
}
.contact-us-content{
    display: flex;
    justify-content: space-evenly;
}
.contact-us-email, .contact-us-phone {
    align-self: center;
    width:90%;
    font-size: 24px;
    margin:2%;
    text-align: center;
    padding:10px;
    /* margin: none;
    flex-direction: row; */
    display: flex;
}
.contact-us-info{
    margin-left:8px;
    color:var(--brand-color-darkerwhite)
}