@import '../styles/branding.css';

/* keyframes */
@keyframes slideIn {
    from {
      transform: translateY(100%);
    }
    to {
      transform: translateX(0);
    }
  }
/* Main css */
.home-content{
    z-index: 2;
    position:relative;
    height:max-content;
}
.our-brand{
    margin-top: 80px;
    z-index: 0;
    max-height:700px;
    min-height: 500px;
    height:500px;
    display: inline-flex;
    justify-content:flex-start;
}

.our-brand .tagline{
    text-overflow: ellipsis;
    overflow-y:hidden;
    overflow-x:hidden;
    max-height: 400px;
    height: max-content;
    background-color: rgba(255,232,214,0.8);
    box-shadow: 1px 2px 2px 1px;
    border-radius: 10px;
    /* backdrop-filter: blur(1px); */
    /* border: solid 2px;
    border-radius: 4px; */
    margin-top:15%;
    margin-left: 2%;
    color: var(--brand-color-grey);
    padding: 2%;
    position: relative;
    text-align: justify;
    font-size: x-large;
    width:50%;
    z-index: 2;
}

.tagline h2{
    display: inline;
    margin-bottom: auto;
    position: relative;
    max-height: 150px;
    text-wrap:pretty;
    color:var(--brand-color-6);
    animation: slideIn 0.5s ease-out;
}

.tagline h5{
    position: relative;
    max-height: 250px;
    color:var(--brand-color-6);
    margin-top: 2px;
    animation: slideIn 0.5s ease-out;
}

.tagline .emphasis{
    color: var(--brand-color-darkgrey)
}


.our-brand .main-pic{
    
    height: 500px;
    padding: 2%;
    position: relative;
    z-index: 2;
}

.our-brand .background-pic{
    min-height:500px;
    max-height: 700px;
    /* opacity: 0.6; */
    position: absolute;
    width: 100%;
    z-index: 0;
}

/* .our-brand .background-gradient-overlay{
    background: linear-gradient(to right, rgba(203,153,126,0.3),  rgba(107,112,92,0.3));
    position: absolute;
    width: 100%;
    z-index: 1;
} */


/* SERVICES ============================ */
.our-services{
    z-index: 3;
    color: var(--brand-color-darkgrey);
    margin-top:20%;
}
.our-services .our-services-title{
    font-size:50px;
    text-align: center;
    margin-left:2%;
    margin-bottom:none;
}
.our-services ul{
    padding:10px;
    justify-content: space-between;
    /* margin: none;
    flex-direction: row; */
    display: flex;
}

.our-services li{
    cursor: pointer;
    background-color: #f8f9fa;
    display: inline-block;
    list-style: none;
    margin-right: 2%;
    margin-left:2%;
    padding: 1%;;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 1px;
    height:200px;
    width: 200px;
}

.our-services li:hover{
    background-color: var(--brand-color-2);
    box-shadow: 5px 6px 6px 2px;
    margin-top:-10px;
}

.service-info{
    color:var(--brand-color-darkgrey)
}

.service-info .service-info-icon{
    font-size: 50px;
}

.service-info .service-info-description{
    font-size: small;
    color: var(--brand-color-6)
}

/* WHY US ======================================== */

.why-us{
    z-index: 3;
    color: var(--brand-color-darkgrey);
    margin-top:5%;
}

.why-us .why-us-title{
    font-size:50px;
    text-align: center;
    margin-left:2%;
    margin-bottom:none;
}
.why-us-content{
    display: flex;
    justify-content: space-evenly;
}
.why-us-text{
    width:90%;
    font-size: 33px;
    margin:2%;
    text-align: center;
    padding:10px;
    /* margin: none;
    flex-direction: row; */
    display: flex;
}