@import './branding.css';




header{
    max-height: 80px;
    z-index: 3;
    color: var(--brand-color-6);
    position: fixed;
    width: 100%;
    font-size:large;
    display: flex;
    justify-content:space-between;
    /* background-color: var(--brand-color-dirtywhite); */
    background-color: #f8f9fa;
    box-shadow: 5px 2px 2px 1px rgba(0,0,0,0.3);
}

nav{
    margin-top: 0;
    margin-right:2%;
}

nav ul{
    display: flex;  
    list-style-type: none;
    left:100px;
}

nav ul li{
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 10px;
    white-space: nowrap;
}
nav ul li:hover{
    cursor: pointer;
    padding: 10px;
    /* background-color: var(--brand-color-darkerwhite); */
    color:var(--brand-color-darkwhite);
    border-radius: 4px;
    font-weight: 800;
    font-size: large;
}
nav ul li a{
    color: var(--brand-color-darkgrey);
    text-decoration: none;
}


.logo-container{
    display: flex;
    text-wrap:nowrap;
}

.logo-container p{
    text-transform: uppercase;
    font-weight: 800;
    font-size:large;
    padding: 10px;
}

.nav-logo {
    height: 80px;
    width: 80px;
    margin-left:2%;
}