@import './branding.css';

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--brand-color-2);
    box-shadow: 5px 2px 2px 1px rgba(0,0,0,0.3);
}

nav ul{
    display: flex;  
    list-style-type: none;
}

nav ul li{
    padding: 10px;
}
nav ul li:hover{
    padding: 10px;
    background-color: var(--brand-color-4);
    border-radius: 4px;
    font-weight: 800;
    font-size: large;
}
nav ul li a{
    color: var(--brand-color-darkgrey);
    text-decoration: none;
}

.nav-logo {
    height: 80px;
    width: 80px;
}